@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  #111;
}
.wrapper{
    height: 500px;
    width: 450px;
    position: relative;
}
.wrapper img{
    position: absolute;
    height: 500px;
    width: 100%;
    margin-top: -50px;
}
.wrapper label{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}
.wrapper label span{
    color: #fff;
    display: block;
    font-size: 20px;
    width: 180px;
    height: 50px;
    border: 2px solid #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.wrapper label span::before{
    content: "Turn off";
}
.wrapper label span:hover{
    background: #fff;
    color: #111;
}
.wrapper img#bulb-on{
    opacity: 0;
    animation: glow 3s linear infinite;

}
@keyframes glow {
    0%{
        opacity: 1;
    }
    5%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    74%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    84%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
#btn:checked ~  img#bulb-on{
    animation: none;
}
#btn:checked ~  label span::before{
    content: "Turn on";
}
.wrapper input{
    display: none;
}