@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color:  #2192ff;
}
.container{
    background-color: #fff;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 2rem;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}
nav ul li::after{
    content: "";
    background-color: #2192ff;
    height: 3px;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
