@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #F4F7FF;
}
.container{
  max-width: 550px;
  margin: 0 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  border-radius: 12px;
  /* transform: scale(); */
}
.container p{
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
.container p a{
  position: relative;
  text-decoration: none;
}
.container p a:hover{
  text-decoration: underline;
}
.container p span{
  position: absolute;
  height: 37px;
  min-width: 150px;
  border-radius: 25px;
  line-height: 37px;
  text-align: center;
  background-color: #6d50e2;
  top: -44px;
  left: 50%;
  transform: translate(-40% , -20%);
  color: #fff;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.container p a:hover span{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , 0%);
}
.container p span::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #6d50e2;
  bottom: -6px;
  left: 50%;
  z-index: -1;
  transform: translate(50%) rotate(45deg);
}