* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  #eef5fe;
}
.wrapper{
    display: flex;
    column-gap: 10px;
}
.wrapper .dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #008ae6;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.1);
    animation: animate 1s ease-in-out infinite alternate;
}
.dot:nth-child(1){
     animation-delay: -0.25s;
}
.dot:nth-child(2){
    background: #e60000;
     animation-delay: -0.5s;
}
.dot:nth-child(3){
     background: #ffcc00;
      animation-delay: -0.75s;
}
.dot:nth-child(4){
     background: #008800;
      animation-delay: -1s;
}
@keyframes animate {
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(20px);
    }
}