@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  #eed891;
}
.wrapper{
    position: relative;
    height: 330px;
    width: 620px;
    perspective: 1000px;
}
.wrapper .flip-card{
    background-color: #d48600;
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 1s  ease-in-out;
}
.wrapper:hover .flip-card{
    transform:rotateY(180deg);
}

.flip-card .card{
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d48600;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-left:2px solid #cc6600;
    border-top:2px solid #cc6600;
    backface-visibility: hidden;
}
.card span.circle , 
.card span.square{
    height: 110px;
    width: 110px;
    border: 10px solid #4d2600;
}
.card span.circle{
    border-radius: 50%;
}
.card span.triangle{
    position: relative;
    height: 0px;
    width: 0px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 110px solid #4d2600;
    margin-right: 16px;
}
.card span.triangle::before{
    content: "";
    left: -40px;
    top: 20px;
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #d48600;
}
.back.card{
    transform:rotateY(180deg);
}
.back.card .home-logo{
    position: relative;
    height: 65px;
    width: 65px;
    border: 5px solid #4d2600;
    border-radius: 50%;
    margin-right: 16px;
}
.home-logo .icon{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 25px;
    background-color: #4d2600;
    transform: translate(-50%,-50%) translateY(6px);
}
.home-logo .icon::before{       
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: -16px;
    transform: rotate(45deg);
    background-color: #4d2600;
}
.back.card .num{
    font-size: 20px;
    font-weight: 600;
    color: #4d2600;
}