*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: deepskyblue;
}
section .dots span{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff ;
    border-radius: 50%;
    transform: rotate(calc(var(--i)*(360deg/15))) translateX(35px); 
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i)* 0.1s) ;
    opacity: 0;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}